<div class="row divparent">
    <div class="col-12">
        <mat-card class="mat-card">
            <div class="row center">
              <h2>NE TALENT ENABLEMENT SESSIONS</h2>
            </div>
            <div class="mat-elevation-z8" #TABLE>
                <table mat-table #table [dataSource]="dataSource">
                 <!-- Name Column -->
                  <ng-container matColumnDef="programId">
                    <th mat-header-cell *matHeaderCellDef> Program Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.programId}} </td>
                  </ng-container>
              
                    <!-- Weight Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="nominationStartDate">
                    <th mat-header-cell *matHeaderCellDef> Nomination Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.nominationStartDate | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nominationEndDate">
                    <th mat-header-cell *matHeaderCellDef> Nomination End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.nominationEndDate| date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef> Start Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.startDate| date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef> End Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.endDate| date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="accent"  (click) ="view(element.description,'Description')">View</button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="agenda">
                    <th mat-header-cell *matHeaderCellDef>Course Agenda</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="accent"  (click) ="view(element.courseAgenda,'Course Agenda')">View</button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="nominate">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button color="accent"  (click) ="nominate(element.programId)">Nominate</button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[10,20,30,40]" showFirstLastButtons></mat-paginator>
              </div>
        </mat-card>
    </div>
</div>    
