.center {
    margin-top: 20px;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    padding-top: 15px;
  }

  .submit{
    padding: 10px;
  }
